@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
/*
Regular 400
Medium 500
SemiBold 600
ExtraBold 800
*/


/*Общие стили*/

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    transition: opacity 0.3s;

    color: #D9D9D9;
}

a:hover {
    opacity: 0.8;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;

    font-weight: 800;
    font-size: 80px;
    line-height: 109%;
    letter-spacing: -0.03em;
    
    color: #fff;
}

h4 {
    margin: 0;
    color: #121517;

    font-weight: 500;
    font-size: 32px;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: #121517;
    color: #D9D9D9;

    font-size: 20px;
    line-height: 163%;
    letter-spacing: -0.02em;

    margin: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_plus {
    max-width: 1029px;
    margin: 0 auto;
    border-radius: 46px;

    background: linear-gradient(230deg, #fff 3.94%, #e5e5e5 64.08%, #fbfbfb 88.62%);
}

.text-gradient {
  background: linear-gradient(223deg, #237249 0%, #35c66b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logo {
    font-weight: 800;
    font-size: 37px;
    line-height: 109%;
    letter-spacing: -0.03em;
}

.btn--more {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 24px;
    line-height: 146%;
    color: #fff;

    border-radius: 83px;
    width: 167px;
    height: 74px;
}


/*Шапка*/

.header__nav--link + .header__nav--link {
    margin-left: 94px;
}

.header {
    padding: 50px 0;
}

.header .container {
    padding-right: 25px;
    padding-left: 25px;

    display: flex;
    gap: 94px;
    align-items: baseline;
}

.header__nav {
    display: flex;
    margin: 0;
    padding-left: 0px;
}

img {
    width: 100%;
}

.btn--big {
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 146%;
    font-weight: 639;
    font-size: 24px;
    color: #fff;


    border-radius: 83px;
    width: 333px;
    height: 74px;

    background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
}

.btn--more {
    border: 1.02px solid #dadada;
    background: #121517;
}

.btn--buy {
    margin-top: 17px;
    margin-bottom: 33px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 639;
    font-size: 17px;
    line-height: 146%;
    color: #fff;

    border-radius: 60px;
    width: 186px;
    height: 54px;

    background: linear-gradient(210deg, #237249 0%, #35c66b 100%);
}

/*Приветственная секция*/

.welcome {
    margin-top: 30px;
}



.welcome .container {
    width: 100%;
}

.all {
    box-sizing: content-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 155px;

    padding-right: 10px;
    padding-left: 10px;
}

.info {
    max-width: 575px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 54px;
}

.info__static {
    max-width: 472px;

    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.info .desc {
    font-weight: 400;
}

.info__btn {
    display: flex;
    gap: 16px;

}

.info__static--title {
    font-size: 62px;
    line-height: 109%;
    font-weight: 400;
}

.info__static--title::after {
    content: "+";

    background: linear-gradient(244deg, #237249 0%, #35c66b 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.info__title {
    position: relative;
}

.info__title::before {
    content: "";

    position: absolute;

    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(100px);

    left: 44px;
    top: 50px;

    width: 140px;
    height: 140px;
    z-index: -10;
}

.welcome__img {
    position: relative;
}

.welcome__img::before {
    content: "";
    position: absolute;

    background-image: url(./svg/lines.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 910px;
    height: 676px;

    left: -270px;
    right: 0px;
    bottom: 0;
    top: 280px;

    z-index: -10;
}

.welcome__img::after {
    content: "";
    position: absolute;

    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(105.5px);

    width: 300px;
    height: 300px;

    left: 140px;
    right: 0;
    bottom: 0;

    z-index: -5;
}

.welcome__img img {
    display: block;
    animation: move-cup 1.5s infinite alternate ease-in-out;
}

@keyframes move-cup {
    to {
        transform: translateY(-20px)
    }
}



/*We have*/

.wehave .container_plus {
    position: relative;

    display: flex;
    align-items: center;
    gap: 128px;

    padding: 30px 78px 26px 78px;

}

.wehave .container_plus::before {
    position: absolute;
    content: "";
    background: url(./items/Group\ 25.svg) no-repeat center/contain;
    width: 60%;
    height: 60%;
    top: -90px;
    left: -280px;
    bottom: 0;
    right: 0;
    z-index: 10;
}

.wehave {
    margin-top: 85px;

    position: relative;
    z-index: 0;
} 

.wehave .container_plus::after {
    position: absolute;

    content: "";

    width: 278px;
    height: 207px;

    z-index: -20;
    
    right: 0;
    left: -30px;
    bottom: 0;
    top: 80px;

    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(140.12498474121094px);
}

.wehave .tasty {
    position: relative;
    z-index: 0;

    max-width: 180px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.img__tasty {
    position: relative;
    z-index: 0;
}

.img__fast {
    position: relative;
    z-index: 0;
}

.img__available {
    position: relative;
    z-index: 0;
}
.img__available::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 148px;
    height: 148px;

    top: 0;
    left: 30px;
    right: 5px;
    bottom: 30px;

    border-radius: 100%;
    background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
}


.img__fast::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 148px;
    height: 148px;

    top: 20px;
    left: 45px;
    right: 20px;
    bottom: 30px;

    border-radius: 100%;
    background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
}

.img__tasty::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 148px;
    height: 148px;

    right: 5px;
    bottom: 30px;

    border-radius: 100%;
    background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.39);
}

.wehave .fast {
    max-width: 240px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wehave .available {
    max-width: 210px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.tasty__desc, .fast__desc, .available__desc {
    font-weight: 400;
    text-align: center;
    color: rgba(18, 21, 23, 0.9);
}

.wehave h4 {
    text-align: center;

    margin-bottom: 4px;
}

.fast__title {
    margin-top: -18px;
}

.available__title {
    margin-top: 20px;
}

.img__available {
    margin-top: 25px;
}


/*restotaun*/

.img--restoraun {
    position: relative;
    z-index: 0;
    width: 510px;

    padding-left: 45px;
}

.img--restoraun::before {
    content: "";
    position: absolute;
    z-index: -10;
    width: calc(100% - 40px);
    height: calc(100% - 36px);
    
    background: url(./svg/trap.svg) no-repeat center/cover;

    bottom: 0;
    right: 0;
    top: 44px;
    left: 15px;
}

.delicious {
    position: relative;
    z-index: 0;

    margin-top: 135px;
}

.kitchen {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
    gap: 63px;

    max-width: 457px;
}

.kitchen::after {
    content: "";
    position: absolute;

    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(114.62498474121094px);

    width: 150px;
    height: 120px;

    right: 30px;

    z-index: -10;
}

.kitchen::before {
    content: "";
    position: absolute;

    border-radius: 100%;
    background: rgba(217, 217, 217, 0.08);
    filter: blur(70.04166412353516px);

    width: 306px;
    height: 249px;

    bottom: 0;
    left: -70px;

    z-index: -10;
}

.delicious .container {
    position: relative;
    z-index: 0;

    display: flex;
    justify-content: space-between;
}

.delicious .container::before {

    content: "";
    position: absolute;

    background: url(./svg/lines2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 1008px;
    height: 626px;

    top: 370px;
    right: 0;
    bottom: 0;
    left: 400px;
}


/*cups*/

.cups h4 {
    color: #fff;
}

.cups__desc {
    text-align: center;
}

.cups {
    margin-top: 100px;
}

.cup1, .cup2, .cup3, .cup4 {
    position: relative;

    filter: drop-shadow(0 4px 46px rgba(0, 0, 0, 0.48));

    margin-top: 17px;
    margin-bottom: 10px;
    margin-right: 25px;
    width: 180px;
}

.img__cup1, .img__cup2, .img__cup3, .img__cup4 {
    position: relative;
    z-index: 0;
}

.cups__text {
    position: relative;
    z-index: 0;
}

.cups__text::before {
    position: absolute;
    content: "";

    z-index: -10;

    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(90.62498474121094px);

    width: 130px;
    height: 110px;

    top: 0;
    left: 210px;
    bottom: 0;
    right: 0;
}

.img__cup2::after {
    position: absolute;
    content: "";
    z-index: -15;

    border-radius: 100%;
    background: rgba(217, 217, 217, 0.08);
    filter: blur(30.04166412353516px);

    width: 306px;
    height: 249px;

    top: 50px;
    right: -40px;
}

.img__cup4::after {
    position: absolute;
    content: "";
    z-index: -15;

    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(85.62498474121094px);

    width: 130px;
    height: 110px;

    top: 170px;
    right: 30px;
}

.img__cup1::before,  .img__cup2::before, .img__cup3::before, .img__cup4::before {
    content: "";
    position: absolute;
    z-index: -1;
    height: 190px;
    width: 190px;
    
    top: 50px;

    border-radius: 100%;
    background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
    box-shadow: 0 5px 52px 0 rgba(0, 0, 0, 0.39);
}

.cups .cups__text {
    width: 910px;

    display: flex;
    gap: 94px;
    align-items: center;
}

.cups__product {
    background-color: #121517;

    position: relative;
    border-radius: 29px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    width: 277px;
}

.cups__product img {
    transition: 0.5s ease;
}

.cups__product:hover::before {
    background: rgb(35,114,73);
    background: linear-gradient(260deg, rgba(35,114,73,1) 0%, rgba(53,198,107,1) 100%);
}

.cups__product:hover img {
    transform: translateY(-5px);
}

.cups__product::before {
    position: absolute;
    
    top: -1.5px;
    bottom: 0;
    left: -1.5px;
    right: -0.5px;

    border-radius: 29px;
    width: calc(100% + 4px);
    height: calc(100% + 3px);
    z-index: -10;
    content: "";
    background: #DADADA;
    background: linear-gradient(29deg, rgba(218, 218, 218, 1) 0%, rgba(218, 218, 218, 0.07) 42%, rgba(218, 218, 218, 1) 100%);
}

.cups__list {
    gap: 20px;

    margin-top: 63px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}

.cup__info {
    display: flex;
    justify-content: space-between;

    width: 183px;
}




/*events*/

.events .container {
    position: relative;
    z-index: 0;

    display: flex;
    flex-direction: column;
}

.events .container::before {
    position: absolute;
    content: "";

    background: url(./svg/lines3.svg);
    background-size: contain;
    background-repeat: no-repeat;

    width: 580px;
    height: 320px;

    top: -40px;
    left: -110px;

    z-index: -10;
}

.events .card {
    position: relative;
    z-index: 0;

    box-shadow: 0 4px 41px 0 rgba(0, 0, 0, 0.25);

    display: grid;

    grid-template-columns: 1fr 0.5fr 0.5fr 1fr;
    grid-template-rows: 260px 260px;
    grid-template-areas:
    "price price kitchen kitchen"
    "free socials socials us";
    gap: 24px;

    margin-top: 55px;
}

.events .card::before {
    position: absolute;
    content: "";

    border-radius: 100%;
    background: rgba(217, 217, 217, 0.08);
    filter: blur(30.04166412353516px);

    width: 356px;
    height: 310px;

    left: 360px;
    top: 300px;

    z-index: -10;
}

.card1 {
    grid-area: price; background: url(./images/cofe.jpg) no-repeat center/cover;
}
.card2 {
    grid-area: kitchen; background: url(./items/kitchen_tour.png) no-repeat center/cover;
    background-position-x: 0.5px;
}
.card3 { 
    grid-area: free; background: url(./images/coffee.jpg) no-repeat center/cover;
}
.card4 { 
    grid-area: socials; background: url(./items/our_socials.png) no-repeat center/cover;
}
.card5 { 
    grid-area: us; background: url(./items/work.png) no-repeat center/cover;
} 

.card1, .card2, .card3, .card4, .card5 {
    border-radius: 30px;

    padding: 44px 0 0 27px;
}

.events {
    position: relative;
    z-index: 0;

    margin: 100px;
}

.newev {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 65px;
    width: 100%;
}

.newev__desc {
    max-width: 457px;
}

.newev__title {
    max-width: 366px;
}

.events .container {
    display: flex;
    justify-content: flex-end;
}

.card__desc {
    margin-bottom: 47px;

    font-weight: 500;
    font-size: 32px;
    line-height: 109%;
    color: #fff;
}

.events .btn--more {
    background: linear-gradient(245deg, #237249 0%, #35c66b 100%);
    border: 0px;
    font-weight: 600;
}




/*magaz*/

.contacts {
    position: relative;
    z-index: 0;
}

.contacts .container::after {
    content: "";
    position: absolute;
    
    z-index: -20;

    background: url(./svg/lines4.svg);
    transform: scale(1.4);
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 100%;

    left: 630px;
    top: 330px;
}

.contacts .container {
    position: relative;
    z-index: 0;

    padding-top: 68px;

    display: flex;
    justify-content: space-between;
}

.contacts .container::before {
    position: absolute;
    content: "";

    z-index: -10;

    background: url(./svg/trap.svg);
    transform: scaleX(-1);
    width: 383px;
    height: 563px;

    bottom: 0;
    right: 0;
}

.ourc {
    position: relative;
    z-index: 0;

    margin-bottom: 128px;

    width: 391px;

    display: flex;
    flex-direction: column;
    gap: 52px;
}

.ourc::before {
    content: "";
    position: absolute;
    z-index: -10;

    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(100.62498474121094px);

    width: 130px;
    height: 110px;

    top: 200px;
    left: 90px;
}

.magaz__magaz {
    width: 383px;

    margin-right: 20px;
    margin-bottom: 20px;
}

.magaz {
    position: relative;
    z-index: 0;
}

.magaz::before {
    content: "";

    position: absolute;
    z-index: 10;

    background: url(./items/Group\ 25.svg) center no-repeat;
    width: 40%;
    height: 40%;

    top: -50px;
    left: -40px;
    
    transform: scale(1.3);


}

.magaz::after {
    content: "";

    position: absolute;
    z-index: -10;

    border-radius: 100%;
    background: linear-gradient(245deg, rgba(35, 114, 73, 0.55) 0%, rgba(53, 198, 107, 0.73) 51.85%);
    filter: blur(84px);

    right: 260px;
    top: 80px;

    width: 150px;
    height: 120px;
}

.cont {
    display: flex;
    gap: 24px;
}

.ourc__tel {
    height: 44px;
    width: 44px;
}

.ourc__num {
    font-weight: 500;
    font-size: 32px;
    line-height: 132%;
    color: #fff;
}



/*footer*/

.footer {
    position: relative;
    z-index: 10;

    background-color: #0B0C0D;

    margin-top: 127px;
}

.infl {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer .container {
    padding: 30px 0 40px 0;

    display: grid;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 260px;
}

.voz__list {
    display: flex;
    justify-content: center;
    gap: 82px;
}

.voz__list--item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.home {
    margin-top: -10px;
    display: flex;
    justify-content: flex-end;
}

.img__home {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 29px;
    border: 2px solid #237249;
    height: 84px;
    width: 84px;
}

.img__h {
    height: 35px;
}

.footer__tel {
    font-weight: 500;
    font-size: 26px;
}

.voz__list--desc1 {
    font-weight: 400;
    letter-spacing: -0.01em;
    color: #bbb3b3;
}

.voz__list a {
    transition: 0.3s;
}

.voz__list a:hover {
    color: rgba(187, 179, 179, 0.43);
    opacity: 0.8;
}

.list__desc {
    font-weight: 400;
    letter-spacing: -0.01em;
    color: rgba(187, 179, 179, 0.43);
}

.vl__list a {
    transition: 0.3s;
}

.vl__list a:hover {
    color: #bbb3b3;
    opacity: 0.8;
}